body {
    background-image: url(wp1813519-3602876689.jpg);
    background-size: cover;
}
.loading-text {
  text-align: center;
  color: #fff;
}

.loading-text h1 {
  font-size: 2em;
  font-weight: normal;
}

.loading-text h2 {
  font-size: 4em;
  font-weight: bold;
}

.loading-bar-container {
  margin: 50px auto;
  width: 50%;
  height: 20px;
  background-color: #ccc;
}

.loading-bar {
  height: 100%;
  background-color: #00bfff;
  width: 0%;
}
